<div class="parameters">

  <div>
    <label>Registry</label> 
    <input [(ngModel)]="clientService.registry" />
  </div>

  <div>
    <label>Repository</label>
    <input [(ngModel)]="clientService.repository" />
  </div>

  <div>
    <label class="label">Insecure</label>
    <input type="checkbox" [(ngModel)]="clientService.insecure" />
  </div>

  <div>
    <label class="label">Anonymous</label>
    <input type="checkbox" [(ngModel)]="clientService.anonymous" />
  </div>

  <div *ngIf="clientService.anonymous == false">
    <label class="label">Username</label>
    <input [(ngModel)]="clientService.username" />
  </div>

  <div *ngIf="clientService.anonymous == false">
    <label class="label"> Password</label>
    <input type="password" [(ngModel)]="clientService.password" />
  </div> 
</div>
