.explorerFrame {
    margin: 4px;
}

.explorer {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
  }
 
 .explorer li {
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif
  }

  .explorer li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  .explorer .text {
    position: relative;
    top: -14px;
  }

  .explorer .badge {
    cursor: pointer;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  label {
      width: 100px;
      display: inline-block;
      font-weight: normal;
      color: rgb(71, 71, 71);
      font-family: Arial, Helvetica, sans-serif
  }

  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 1.4em;
    cursor: pointer; cursor: hand;
  }

  input {
    height: 1.6em;
    font-size: 1em;
    padding-left: .4em;
    margin: 2px;
    width: 300px;
  }

  input[type="checkbox"] {
    height: 1em;
    font-size: 1em;
    padding-left: .4em;
    margin: 2px;
    width:50px;
  }