<div class="explorerFrame">

  <div>
    <label>Registry</label> 
    <input [(ngModel)]="registry" />
  </div>

  <div>
    <label>Repository</label>
    <input [(ngModel)]="repository" />
  </div>

  <div>
    <label class="label">Insecure</label>
    <input type="checkbox" [(ngModel)]="insecure" />
  </div>

  <div>
    <label class="label">Anonymous</label>
    <input type="checkbox" [(ngModel)]="anonymous" />
  </div>

  <div *ngIf="anonymous == false">
    <label class="label">Username</label>
    <input [(ngModel)]="username" />
  </div>

  <div *ngIf="anonymous == false">
    <label class="label"> Password</label>
    <input type="password" [(ngModel)]="password" />
  </div> 

  <button (click)="onLoad()">Load</button>

  <ul class="explorer">
    <li *ngFor="let tag of tags" title="{{tag.qualifiedName}}">
      <span class="badge" (click)="onCopy(tag)" title="Copy to Clipboard" ><img src="assets/copy.png" style="width:12px" /></span>{{tag.tag}}
    </li>
  </ul>


</div>
