.explorerFrame {
    margin: 4px;
}

.explorer {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 30em;
  }
 
 .explorer li {
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif
  }

  .explorer li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }

  .explorer .text {
    position: relative;
    top: -14px;
  }

  .explorer .badge {
    cursor: pointer;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    border-radius: 4px 0 0 4px;
  }

  .explorer .manifest {
    cursor: pointer;
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: rgb(3, 52, 77);
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
  }

  .explorer .manifest a {
    color: white;
  }

 
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 1.4em;
    cursor: pointer; cursor: hand;
  }

  // .tagsTable {
  //   display: table;
  //   width: 100%;
  // }

  // .tagsTableBody {
  //   display: table-row-group;
  // }

  // .tagsRow {
  //   display: table-row;
  // }

  // .tags {
  //   display:table-column;
  // }

  // .manifest {
  //   display:table-column;
  // }

  .manifest-text {
    width: 98%;
    height: 800px;
    margin: 5px;
}